<h1><%= current_user.first_name %>s Dashboard</h1>

<br>
<br>

<h2>myBikes 🚲</h2>
<br>
<% @bikes.each do |bike| %>
<h5><%= bike.name %></h5>
<% bike.bookings.each do |booking| %>
To: <%= booking.user.first_name %> Start: <%= booking.start_date %>, End: <%= booking.end_date %> <br>
<% end %>
<br>
<% end %>
<br>
<br>


<div class="container">
  <h2>myBeeBikeBookings 📆</h2> <br>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.bike.photos.first.key %>
      <div class="card-product-infos">
        <h2><%= booking.bike.name %></h2>
        (from <%= booking.bike.user.first_name %>)
        <p><%= booking.start_date %> - <%= booking.end_date %> (<%= booking.end_date - booking.start_date %> days)</p>
      </div>
    </div>
  <% end %>

</div>





