<!-- Fancy Header -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/tG36rvCeqng/1600x900');">
  <div class="container" style="color: white">
    <h1>Change your life.<br> Become a <strong>BikeBee.</strong></h1>
    <p>Rent the best bikes in town.</p>
  </div>
</div>


<div class="container">

  <!-- Bikes as cards -->
  <br>
  <br>

  <div class="card-deck">
    <% @bikes.each do |bike| %>
    <div class="card card-bike">
      <%= cl_image_tag bike.photos.first.key, :class=>"card-bike-img"%>
      <div class="card-body">
        <h5 class="card-title"><%= bike.name %></h5>
         <p class="card-category"><%= bike.category %> | <%= bike.location %> </p>



        <button type="button" class="card-button"><%= link_to "Book Now", bike_path(bike) %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>




