<!-- Fancy Header
 -->

<h1>Choose your favourite bike</h1>

<ul>
  <li>
   <%= @bikes.each do |bike| %>
   <%= @bike.name %>
   <%= @bike.description %>
   <%= @bike.category %>
   <%= end %>
  </li>
</ul>

